.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
}

.registerContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.inputContainer {
  margin-bottom: 20px;
}

.inputContainer input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.loginBTN {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.loginBTN:hover {
  background-color: #218838;
}

.loginBTN:active {
  background-color: #1e7e34;
}

.regBTN {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.regBTN:hover {
  background-color: #218838;
}

.regBTN:active {
  background-color: #1e7e34;
}


.toMain{
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.toMain:hover {
  background-color: #218838;
}