.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 300px;
}

.container button {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #0056b3;
}
