.sliderContainer {
    max-width: 1350px; /* Изменяем максимальную ширину контейнера */
    width: 100%; /* Делаем контейнер занимающим всю доступную ширину */
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
}

.sliderWrapper{
    margin: 20px 0 20px 0;
    padding: 10px 0 0 0;
}



.sliderContainer .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    opacity: 0.7;
    transition: background-color 0.3s ease;
    z-index: 2;
}

.sliderContainer .slick-prev {
    left: -50px;
}

.sliderContainer .slick-next {
    right: -50px;
}

.sliderContainer .slick-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slideButton img {
    height: auto;
    display: block;
    margin: auto;
}

.infoBox {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.text {
    font-size: 16px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}
