.Button{
    width: auto;
    height: auto;
    color: white;
    font-size: 20px;
    background:none;
    border: none;
    transition: color 0.3s ease-in-out;
    &:hover{
        color: whitesmoke;
    }
}