.gameDetailContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 85vh;
}

.gameDetailWrapper {
    max-width: 800px;
    width: 100%;
}

.gameDetail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.gameDetail .image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.gameDetail .details {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.gameDetail .details h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.gameDetail .details h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 15px;
}

.gameDetail .details p {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.gameDetail .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.gameDetail .tag {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 6px 12px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
}

.gameDetail .addToCartBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.gameDetail .addToCartBtn:hover {
    background-color: #0056b3;
}

.gameDetail .loading {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
