.input {
    padding-left: 20px;
    width: 190px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;
    overflow-y: hidden;
  }

  .inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 50px;
    gap: 50px;
  }