.Slider{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    background-color: #131A22;
    z-index: 90;
    border-top: 1px solid white;
}

.bigFont{
    width: 60px;
    height: 100px;
    transition: color 0.3s ease-in-out;
    color: white;
}

.bigFont:hover{
   color: rgba(175, 250, 190, 1);
}